<div id="intro">
	<div id="intro-bg"></div>
	<div id="intro-slime"></div>
	<div id="intro-text"><p class="gothic text-center">{{site.intro}}</p><h1 class="text-center light-green">Buy a premium beat today, be the only person to use it</h1></div>
</div>