{{>header}}
    <div class="conx overhide padten">
		<div class="wide radthree padten dark-green-bg real-bord">
			<h2 class="heading black-green">About Us</h2>
            <p class="panP light-green">
                Welcome to {{site.brand}}!
                <br><br>
                {{site.brand}} is a music production brand that focuses on creating thought-provoking beats that inspire and motivate people(content creators, artists, e.t.c.) to
                unleash the monster in them. And by that "Monster", we mean the great talents hidden within them for the world to hear/see.
                <br><br>
                We also make sample packs, and as time goes on, we might make plugins and other music production tools as well. We are also available if you need custom beats, samples 
                or for placements, just contact us to get started.
                <br><br>
                Our beats/samples come in different genres which include Hip-hop/Rap, Afrobeats, UK Drill, Afro-fusion, EDM, e.t.c. And we try as much as possible to make them high
                quality, accompanied with suitable designs, good mixing and mastering.
                <br><br>
                Thank you for visiting {{site.brand}}, we hope you like what we have to offer. In case you don't, please send us suggestions at {{site.email}}
                <br><br>
                Have yourself the best time!
                <br><br>
            </p>
		</div>
    </div>
			
    {{>footer}}