{{>header}}
    <div class="conx overhide padten">
		<div class="wide radthree padten dark-green-bg real-bord">
			<h2 class="heading black-green">Contact Us</h2>
            <p class="panP light-green">
                Please contact us through any of the Platforms below for custom beats and samples, placements, complaints, suggestions and all:
            </p>
            <br>
            <div class="well padten no-bg no-border overhide black-out">
                <a href="{{site.facebook}}" class="panP wide thick light-green"><span class="green"><i class="fa fa-facebook-official"></i> Message Us</span></a>
                <a href="mail-to:{{site.email}}" class="panP wide thick light-green"><span class="green"><i class="fa fa-envelope"></i> {{site.email}}</span></a>
                <a href=":{{site.instagram}}" class="panP wide thick light-green"><span class="green"><i class="fa fa-instagram"></i> Message Us</span></a>
            </div>
            <p class="panP light-green">
                You can also create an account on this website, the contact us from your dashboard through our instant messaging support feature.
                <br><br>
                Have yourself the best time!
            </p>
        </div>
    </div>
			
{{>footer}}