{{>header}}

<div class="contt padten">
    <div class="well dark-green-bg text-center real-bord">
        <h2 class="panH2 green">{{page.title}}</h2>
        <p class="panP black-green">{{page.description}}</p>
        <a href="/" class="panButton dark-green-bg black-out light-green radfive">Go To Homepage</a>
    </div>
</div>